<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Library -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
            <!-- icon -->
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <!-- icon -->
        <!-- Library -->
</head>
<body class="bg-white min-h-screen">
    <!--  -->
      
    <!--  -->

    <div class="w-full md:w-[80%] xl:w-[70%] mx-auto my-10">
        <div class="py-5 w-full">
            <p class="text-3xl lg:text-6xl font-semibold text-orange-300 text-center hover:underline hover:underline-offset-2 hover:duration-300 duration-300">Forgot Password</p>
        </div>
        <div class="flex flex-col gap-x-5 mt-5">
            <div class="w-[90%] mx-auto lg:w-[50%]">
                <!-- <Image src="/assets/sign-in.png" alt=""/> -->
                <Image class="w-full" src="/assets/images/ForgotPass.png" alt=""/>
            </div>
            <!--  -->
            <div class="w-[90%] mx-auto lg:w-[50%] mt-10">
                <form th:action="@{/verifyOTP}" method="post" action="http://httpbin.org/post" class="w-full flex flex-col  gap-y-5">
                    <div class="">
                        
                        <input hidden th:value="${email}" type="text" id="email" name="email" class="py-2  px-2 bg-transparent border-b-2  text-black border-orange-300  w-full outline-none" placeholder="Email" />
                    </div>
                    <div class="">
                        
                        <input type="text" id="otp" name="otp" class="py-2  px-2 bg-transparent border-b-2 text-black border-orange-300  w-full outline-none" placeholder="Enter OTP" />
                    </div>
                    <!-- Captcha -->
                    <div class="g-recaptcha" data-sitekey="6Le9nRMpAAAAAMh2ZxdOpYDvej47c4tGQv3LG2IC"></div>
                    <!-- Captcha -->
                    <div class="">
                        <button type="submit" class="border-2 border-orange-300 py-2 hover:bg-orange-300 hover:duration-300 duration-300 text-black hover:text-white rounded-lg w-full">Verify OTP</button>
                    </div>
                    <div class="text-center">
                        <p href="#" class="hover:text-orange-300 hover:underline hover:underline-offset-2">Bạn chưa có tài khoản? <a class="text-orange-300 " th:href="@{/register}">Đăng Ký!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>





</body>
<script>
  
        var count = 60;
        var countdown = setInterval(function() {
            count--;
            document.getElementById('countdown').innerHTML = count + 's';
            if (count === 0) {
                clearInterval(countdown);
                alert('Hết thời gian nhập OTP!');
            }
        }, 1000);
    
  </script>
</html>