<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Library -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- icon -->
    <!-- Library -->
</head>

<body class="bg-white min-h-screen">

    <section class="w-[90%] md:w-[80%] mx-auto text-black my-10">
        
        <section class="w-full">
            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5 bg-white">
                <input type="checkbox" class="checkbox checkbox-warning">
                <div class="flex flex-1 justify-between">
                    <ion-icon class="text-2xl text-orange-300" name="cart-outline"></ion-icon>
                    
                </div>
            </div>
        </section>

        <section class="">
            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5 bg-white">
                <div class="flex w-full flex-col gap-y-5 text-black text-sm font-light">
                    <div class="flex w-full items-center   py-2 gap-x-2">
                        <input type="checkbox"  class="checkbox checkbox-warning" />
                        <div class="w-[40%] sm:w-[20%] md:w-[30%] lg:w-[20%] xl:w-[10%]">
                            <img class="" src="/assets/images/products/s1.jpg" alt="">
                        </div>
                        
                        <div class="grid grid-cols-2 w-full justify-between text-xs">
                            <div class="flex flex-col gap-y-2 justify-between ">
                                <p class="lg:text-lg lg:font-semibold">Ghế Ngồi Êm VCL</p>
                                <p>Description</p>
                                <div class="join w-full lg:w-[40%] flex items-center text-center  ">
                                    <button class="join-item  border border-orange-300 px-2 py-2 w-[25%]">-</button>
                                    <input type="text" class="join-item bg-white border border-orange-300 w-[50%] text-center py-2 items-center" value="2">
                                    <button class="join-item border border-orange-300 px-2 py-2 w-[25%]">+</button>
                                  </div>
                            </div>
                            <div class="flex flex-col text-end text-xs md:text-2xl justify-between text-orange-300">
                                <p>$120,000</p>
                                <a href="#" class="text-red-300"><ion-icon class="text-end" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->

            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5">
                <div class="flex w-full flex-col gap-y-5 text-black text-sm font-light">
                    <div class="flex w-full items-center   py-2 gap-x-2">
                        <input type="checkbox"  class="checkbox checkbox-warning" />
                        <div class="w-[40%] sm:w-[20%] md:w-[30%] lg:w-[20%] xl:w-[10%]">
                            <img class="" src="/assets/images/products/s1.jpg" alt="">
                        </div>
                        
                        <div class="grid grid-cols-2 w-full justify-between text-xs">
                            <div class="flex flex-col gap-y-2 justify-between ">
                                <p class="lg:text-lg lg:font-semibold">Ghế Ngồi Êm VCL</p>
                                <p>Description</p>
                                <div class="join w-full lg:w-[40%] flex items-center text-center  ">
                                    <button class="join-item  border border-orange-300 px-2 py-2 w-[25%]">-</button>
                                    <input type="text" class="join-item bg-white border border-orange-300 w-[50%] text-center py-2 items-center" value="2">
                                    <button class="join-item border border-orange-300 px-2 py-2 w-[25%]">+</button>
                                  </div>
                            </div>
                            <div class="flex flex-col text-end text-xs md:text-2xl justify-between text-orange-300">
                                <p>$120,000</p>
                                <a href="#" class="text-red-300"><ion-icon class="text-end" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5">
                <div class="flex w-full flex-col gap-y-5 text-black text-sm font-light">
                    <div class="flex w-full items-center   py-2 gap-x-2">
                        <input type="checkbox"  class="checkbox checkbox-warning" />
                        <div class="w-[40%] sm:w-[20%] md:w-[30%] lg:w-[20%] xl:w-[10%]">
                            <img class="" src="/assets/images/products/s1.jpg" alt="">
                        </div>
                        
                        <div class="grid grid-cols-2 w-full justify-between text-xs">
                            <div class="flex flex-col gap-y-2 justify-between ">
                                <p class="lg:text-lg lg:font-semibold">Ghế Ngồi Êm VCL</p>
                                <p>Description</p>
                                <div class="join w-full lg:w-[40%] flex items-center text-center  ">
                                    <button class="join-item  border border-orange-300 px-2 py-2 w-[25%]">-</button>
                                    <input type="text" class="join-item bg-white border border-orange-300 w-[50%] text-center py-2 items-center" value="2">
                                    <button class="join-item border border-orange-300 px-2 py-2 w-[25%]">+</button>
                                  </div>
                            </div>
                            <div class="flex flex-col text-end text-xs md:text-2xl justify-between text-orange-300">
                                <p>$120,000</p>
                                <a href="#" class="text-red-300"><ion-icon class="text-end" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5">
                <div class="flex w-full flex-col gap-y-5 text-black text-sm font-light">
                    <div class="flex w-full items-center   py-2 gap-x-2">
                        <input type="checkbox"  class="checkbox checkbox-warning" />
                        <div class="w-[40%] sm:w-[20%] md:w-[30%] lg:w-[20%] xl:w-[10%]">
                            <img class="" src="/assets/images/products/s1.jpg" alt="">
                        </div>
                        
                        <div class="grid grid-cols-2 w-full justify-between text-xs">
                            <div class="flex flex-col gap-y-2 justify-between ">
                                <p class="lg:text-lg lg:font-semibold">Ghế Ngồi Êm VCL</p>
                                <p>Description</p>
                                <div class="join w-full lg:w-[40%] flex items-center text-center  ">
                                    <button class="join-item  border border-orange-300 px-2 py-2 w-[25%]">-</button>
                                    <input type="text" class="join-item bg-white border border-orange-300 w-[50%] text-center py-2 items-center" value="2">
                                    <button class="join-item border border-orange-300 px-2 py-2 w-[25%]">+</button>
                                  </div>
                            </div>
                            <div class="flex flex-col text-end text-xs md:text-2xl justify-between text-orange-300">
                                <p>$120,000</p>
                                <a href="#" class="text-red-300"><ion-icon class="text-end" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="w-full mx-auto flex items-center gap-x-2 border border-orange-300 rounded-lg px-2 md:px-5 py-3 my-5">
                <div class="flex w-full flex-col gap-y-5 text-black text-sm font-light">
                    <div class="flex w-full items-center   py-2 gap-x-2">
                        <input type="checkbox"  class="checkbox checkbox-warning" />
                        <div class="w-[40%] sm:w-[20%] md:w-[30%] lg:w-[20%] xl:w-[10%]">
                            <img class="" src="/assets/images/products/s1.jpg" alt="">
                        </div>
                        
                        <div class="grid grid-cols-2 w-full justify-between text-xs">
                            <div class="flex flex-col gap-y-2 justify-between ">
                                <p class="lg:text-lg lg:font-semibold">Ghế Ngồi Êm VCL</p>
                                <p>Description</p>
                                <div class="join w-full lg:w-[40%] flex items-center text-center  ">
                                    <button class="join-item  border border-orange-300 px-2 py-2 w-[25%]">-</button>
                                    <input type="text" class="join-item bg-white border border-orange-300 w-[50%] text-center py-2 items-center" value="2">
                                    <button class="join-item border border-orange-300 px-2 py-2 w-[25%]">+</button>
                                  </div>
                            </div>
                            <div class="flex flex-col text-end text-xs md:text-2xl justify-between text-orange-300">
                                <p>$120,000</p>
                                <a href="#" class="text-red-300"><ion-icon class="text-end" name="trash-outline"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Button  -->
        <section class="w-full sticky bottom-0 border border-orange-300 rounded-lg text-black bg-white">
            <div class="flex px-5 py-3 justify-between" >
                <div class="form-control">
                    <label class="cursor-pointer label gap-x-2">
                      
                      <input type="checkbox"  class="checkbox checkbox-warning" />
                      <span class="">Chọn Tất Cả</span>
                    </label>
                </div>
                <!--  -->
                <div class="">
                    <button class="px-10 py-2 border rounded-lg border-orange-300 text-black duration-300 hover:bg-orange-300 hover:duration-300 hover:text-white">Mua Ngay</button>
                </div>
            </div>
        </section>
    </section>

</body>

</html>