<section class="w-[80%] pt-8  mx-auto px-4">
   <div class="flex flex-col lg:flex-row gap-x-4 gap-y-1 w-full">
        <div class="relative group">
            <img class="rounded-lg" src="/assets/images/main_category.jpg" alt="">
            <!--  -->
            <div class="absolute duration-300 bottom-0 left-0 flex flex-col items-center gap-y-3 justify-center group-hover:bottom-5 group-hover:left-5  rounded-lg bg-transparent/50 text-white  py-10 w-[60%] border">
                <p class="text-xl uppercase">Sofa Da Bò</p>
                <button class="border w-[50%] py-3 rounded-lg duration-300 group-hover:bg-orange-300 group-hover:duration-300 shadow">Xem Ngay </button>
            </div>
            <!--  -->
        </div>
        <div class="grid grid-cols-2 lg:flex   lg:flex-col gap-y-4 gap-x-1">
            <div class="relative group">
                <img class="rounded-lg" src="/assets/images/side_category.jpg" alt="">
                <!--  -->
                <div class="absolute duration-300 bottom-0 left-0 flex flex-col items-center gap-y-3 justify-center group-hover:bottom-0 group-hover:rounded-lg group-hover:bg-transparent/50 text-white  h-full w-[100%] ">
                    <p class="lg:text-xl text-xs uppercase duration-200 opacity-0 group-hover:opacity-100  group-hover:duration-300">Sofa Da Bò</p>
                    <button class="border text-xs lg:text-lg w-[50%] duration-200 opacity-0 py-2 lg:py-3 rounded-lg group-hover:opacity-100 group-hover:bg-orange-300 group-hover:duration-300 shadow">Xem Ngay </button>
                </div>
                <!--  -->
            </div>
            <div class="relative group">
                <img class="rounded-lg" src="/assets/images/side_category.jpg" alt="">
                <!--  -->
                <div class="absolute duration-300 bottom-0 left-0 flex flex-col items-center gap-y-3 justify-center group-hover:bottom-[20%]   rounded-lg bg-transparent/50 text-white  group-hover:py-3 w-[100%] border">
                    <p class="lg:text-xl  uppercase hidden group-hover:block text-xs">Sofa Da Bò</p>
                    <button class="border w-[50%] text-xs lg:text-lg hidden group-hover:block py-2 lg:py-3 rounded-lg duration-300 group-hover:bg-orange-300 group-hover:duration-300 shadow">Xem Ngay </button>
                </div>
                <!--  -->
            </div>
        </div>
   </div>
</section>