


<!-- <div xmlns:th="http://www.thymeleaf.org"  th:each="category : ${categories}"> -->

    
<section   th:each="product : ${top4Product} "  class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
    <a th:href="@{'/ProductDetails/' + ${product.productId}}">   <div class="w-full py-2">
        <img class="w-[90%] mx-auto  rounded" th:src="'/assets/images/products/' + ${product.image}" alt="product">
    </div>

    <div class="text-orange-300 font-semibold">
        <p th:text="${product.category.categoryId}"></p>
    </div>

    <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
        <div class="">
            <p th:text="${product.name}"></p>
        </div>
        <div class="rating rating-xs">
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
        </div>
        <div class="text-orange-300 font-semibold">
            <p th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></p>
        </div>

        <div class="flex  duration-300   group-hover:duration-300">
            <a href="/" class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon class="text-sm" name="cart-outline"></ion-icon></a>
            <a href="/" class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon name="wallet-outline"></ion-icon></a>
        </div>
    </div>
</a>
</section>

<!-- </div> -->