<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Library -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
            <!-- icon -->
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            <!-- icon -->
        <!-- Library -->
</head>
<body class="bg-white min-h-screen">
    <section class="w-[90%] md:w-[80%] xl:w-[80%] mx-auto text-xs text-black font-light  py-24">
        <div class="w-full flex flex-col lg:flex-row gap-y-5 gap-x-5">
            <section class="flex flex-row lg:flex-col gap-x-5 gap-y-5 w-full lg:w-[40%] text-sm">
                <div class="border border-orange-300 rounded-lg flex flex-col justify-center items-center py-3 gap-y-3 px-5">
                    <!-- Avatar -->
                    <div class="avatar">
                        <div class="w-24 rounded-full">
                          <img src="" />
                        </div>
                    </div>
                    <!-- Avatar -->
                    <!-- Info -->
                    <div class="flex flex-col gap-y-5">
                        <p th:text="${user.fullName}">Huỳnh Tấn Phát</p>
                    </div>
                    <!-- Info -->
                </div>
                <div class=" flex flex-col h-[40%] items-end  lg:flex-col justify-between lg:justify-start rounded-lg gap-y-2 flex-1 gap-x-5">
                    <div class="flex items-center gap-x-2 border border-orange-300 rounded-lg px-5 py-2 w-full group hover:bg-orange-300 duration-300 hover:duration-300">
                        <ion-icon class="text-xl group-hover:text-white" name="people-outline"></ion-icon>
                        <a href="#" class="group-hover:text-white">Thông Tin Cá Nhân</a>
                    </div>
                    <div class="flex items-center gap-x-2 border border-orange-300 rounded-lg px-5 py-2 w-full group hover:bg-orange-300 duration-300 hover:duration-300">
                        <ion-icon class="text-lg group-hover:text-white" name="car-outline"></ion-icon>
                        <a href="#" class="group-hover:text-white">Địa Chỉ</a>
                    </div>
                    
                </div>
            </section>
            <section class="w-full lg:w-[60%]">
                <div class="border border-orange-300  rounded-lg py-5 px-5 text-sm">
                    <section class="flex justify-between">
                        <div class="flex flex-col justify-between gap-y-10">
                            <div class="">
                                <p>User Name</p>
                            </div>
                            <div class="">
                                <p>Full Name</p>
                            </div>
                            <div class="">
                                <p>Phone</p>
                            </div>
                            <div class="">
                                <p>Email</p>
                            </div>
    
                        </div>
                        <div class="flex flex-col justify-between gap-y-10 text-end w-[80%]">
                            <div class="border-b">
                                <input type="text" class="w-full bg-white text-black py-1 text-end outline-none" value="User" th:value="${user.username}">
                            </div>
                            <div class="border-b">
                                <input type="text" class="w-full bg-white text-black py-1 text-end outline-none" th:value="${user.fullName}">
                            </div>
                            <div class="border-b">
                                <input type="text" class="w-full bg-white text-black py-1 text-end outline-none" th:value="'0' + ${user.phonenumber}">
                            </div>
                            <div class="border-b">
                                <input type="text" class="w-full bg-white text-black py-1 text-end outline-none" th:value="${user.email}">
                            </div>
                        </div>
                    </section>
                    <div class="mt-5 flex justify-end">
                        <button class="px-4 py-3 border border-orange-300 duration-300 rounded-lg hover:bg-orange-300 hover:duration-300 hover:text-white">Lưu Thay Đổi </button>
                    </div>
                </div> 
                
            </section>
        </div>
    </section>
</body>
</html>